*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  background: linear-gradient(rgb(125, 34, 151) 80%,rgb(143, 47, 167));
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .icon{
  font-size: 50px;
  font-weight: 600;
  color: aliceblue;
  margin-bottom: 20px;
}
.content .followers{
  font-size: 70px;
  font-weight: 600;
  color: aliceblue;
}
.content .des{
  font-size: 20px;
  color: aliceblue;
  font-weight: 400;
  letter-spacing: 0.1em;
}